﻿@{
    ViewBag.Title = "Way 2 Tecnologia";
}

<div class="jumbotron">
    <h1>way2 technology</h1>
    <p class="lead">
        Somos uma empresa de software e serviços focada no Setor Elétrico. Oferecemos soluções para telemedição e aplicações de inteligência sobre dados de energia.
        Trabalhamos lado a lado com as empresas do setor com o objetivo de, através da aplicação de tecnologias, incrementar sua eficiência operacional, assegurar sua adequação regulatória e melhorar seu relacionamento com clientes.
    </p>
    <p>@*<a href="http://way2.com.br" class="btn btn-primary btn-lg">para saber mais&raquo;</a>*@<a href="https://br.linkedin.com/in/roberto-silva-4309b87" target="_blank" class="btn btn-primary btn-lg">Acesse meu perfil no Linkedin&raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Meus repositórios</h2>
        <p>Lista todos o repositórios do candidato.</p>
        <p>@Html.ActionLink("Acessar", "Index", "GitHub", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Procurar repositórios</h2>
        <p>Procura por repositórios do <b>github</b> utilizando como filtro nome ou parte do nome do repositório.</p>
        <p>@Html.ActionLink("Acessar", "ProcurarRepositorios", "GitHub", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Repositórios favoritos</h2>
        <p>Lista repositórios marcados como favoritos por quem usar seu sistema.</p>
        <p>@Html.ActionLink("Acessar", "RepositoriosFavoritos", "GitHub", null, new { @class = "btn btn-default" })</p>
    </div>
</div>