﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}
<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Um erro ocorreu enquanto processavamos sua requisição.</h2>
<table class="table">
    <tr>
        <td>
            <p class="label-primary">@Html.DisplayNameFor(model => model.Exception.Message):</p>
        </td>
        <td>
            <p class="text-primary">@Html.DisplayFor(model => model.Exception.Message)</p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="label-primary">@Html.DisplayNameFor(model => model.Exception.StackTrace):</p>
        </td>
        <td>
            <p class="text-primary">@Html.DisplayFor(model => model.Exception.StackTrace)</p>
        </td>
    </tr>
</table>