﻿@model Teste02Way2.Models.GitHubRepositorio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm("Action", "GitHub"))
{
    @Html.AntiForgeryToken()
    <div>
        <h4>GitHubRepositorio</h4>
        <hr />
        <input id="usuario" name="usuario" type="hidden" value="@Model.owner.login" />
        <input id="repositorio" name="repositorio" type="hidden" value="@Model.name" />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.language)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.language)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.updated_at)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.updated_at)
            </dd>
            <dt>
                Dono do repositório:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.owner.login)
            </dd>
        </dl>
        <p>Contribuídores</p>
        <table class="table">
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Tipo
                </th>
            </tr>
            @if (Model.Contribuidores != null && Model.Contribuidores.Count > 0)
            {
                foreach (var item in Model.Contribuidores)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.login)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.type)
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Voltar", "Index", "Home", new { area = "" }, new { @class = "btn btn-default" })
            <input type="submit" value="Salvar" name="SalvarRepositorio" class="btn btn-default" />
            @if (Model.JaSalvo)
            {
                <input type="submit" value="Excluir" name="ExcluirRepositorio" class="btn btn-default" />
            }
        </div>
    </div>
}
