﻿@model IEnumerable<Teste02Way2.Models.GitHubRepositorio>

@{
    ViewBag.Title = "Meus repositórios";
}

<h2>Meus repositórios</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.full_name)
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.name, "Detalhes", new { usuario = item.owner.login, repositorio = item.name })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.full_name)
                </td>
            </tr>
        }
    }
</table>
<div>
    @Html.ActionLink("Voltar", "Index", "Home", new { area = "" }, new { @class = "btn btn-default" })
</div>