﻿@model IEnumerable<Teste02Way2.Models.GitHubRepositorio>

@{
    ViewBag.Title = "Procurar repositórios";
}

<h2>Procurar repositórios</h2>
<div>
    @using (Html.BeginForm("ProcurarRepositorios", "GitHub", FormMethod.Get))
    {
        <p>
            Repositório: <input type="text" name="parteNome" id="parteNome" value="@ViewBag.ParteNome" />
            <input type="submit" value="Procurar" />
        </p>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.full_name)
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.name, "Detalhes", new { usuario = item.owner.login, repositorio = item.name })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.full_name)
                </td>
            </tr>
        }
    }
</table>
<div>
    @Html.ActionLink("Voltar", "Index", "Home", new { area = "" }, new { @class = "btn btn-default" })
</div>